.home-icon {
  width: 2.25rem;
  position: relative;
  border-radius: var(--br-xs);
  height: 2.25rem;
  overflow: hidden;
  flex-shrink: 0;
}
.profile {
  position: relative;
  font-weight: 600;
}
.links,
.list-link-1 {
  width: 15.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.links {
  position: absolute;
  top: 3.625rem;
  left: 2.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
}
.frame-child {
  width: 2.813rem;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkseagreen);
  height: 2.813rem;
  overflow: hidden;
  flex-shrink: 0;
}
.ebayyou-an {
  position: relative;
  font-weight: 500;
}
.ebaygmailc {
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--neutral-brown);
}
.ebayyou-an-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.frame-group {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container,
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  align-self: stretch;
  width: 2.938rem;
  border-radius: var(--br-8xs);
  background-color: var(--light-100);
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--brand-color-second-color);
}
.frame-parent {
  width: 15.5rem;
  justify-content: flex-start;
  gap: var(--gap-42xl);
}
.frame-item {
  width: 2.813rem;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-lightslategray-200);
  height: 2.813rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame,
.frame-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-8xs);
  background-color: var(--light-200);
  padding: var(--padding-12xs) var(--padding-5xs);
  font-size: var(--font-size-base);
  color: var(--brand-color-second-color);
}
.frame-container {
  width: 15rem;
  background-color: var(--brand-color-fourth-color);
  padding: var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-26xl);
}
.frame-container,
.frame-inner,
.wrapper1 {
  border-radius: var(--br-8xs);
}
.frame-inner {
  width: 2.813rem;
  position: relative;
  background-color: var(--color-rosybrown-300);
  height: 2.813rem;
  overflow: hidden;
  flex-shrink: 0;
}
.wrapper1 {
  align-self: stretch;
  width: 2.938rem;
  background-color: var(--light-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--brand-color-second-color);
}
.leaderboards,
.leads {
  width: 15.5rem;
  display: flex;
  flex-direction: column;
}
.leads {
  align-items: center;
  justify-content: center;
  gap: var(--gap-lgi);
  font-size: var(--font-size-sm);
}
.leaderboards {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.iconsaxboldmedalstar {
  width: 2.188rem;
  position: relative;
  height: 2.188rem;
}
.see-all-leaderboards {
  width: 6.563rem;
  position: relative;
  font-weight: 600;
  display: none;
}
.button {
  width: 15.688rem;
  border-radius: var(--br-7xs);
  background: linear-gradient(152.9deg, #77a6dc, #585ef5);
  height: 3.438rem;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.top-leads {
  position: absolute;
  top: 16.25rem;
  left: 2.063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
  font-size: var(--font-size-6xl);
}
.digiforum-all-rights {
  position: absolute;
  top: 7.75rem;
  left: 4.313rem;
  display: inline-block;
  width: 10.188rem;
}
.vector-icon {
  width: 1.5rem;
  position: relative;
  height: 1.619rem;
}
.source-code {
  position: relative;
  text-decoration: underline;
}
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.git-pull-request-icon {
  width: 1.625rem;
  position: relative;
  height: 1.625rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent3 {
  position: absolute;
  top: 1.875rem;
  left: 2.813rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: left;
}
.footer,
.footer-child {
  position: absolute;
  width: 18.75rem;
}
.footer-child {
  top: 0;
  left: 0;
  background-color: var(--brand-color-fourth-color);
  height: 0.125rem;
}
.footer {
  top: 45.313rem;
  left: 0.563rem;
  height: 10.5rem;
  text-align: center;
  color: var(--neutral-gray);
  font-family: var(--font-inter);
}
.desktop-aside {
  position: absolute;
  top: 5.625rem;
  left: 0;
  border-right: 2px solid var(--brand-color-fourth-color);
  box-sizing: border-box;
  width: 20.125rem;
  height: 58.375rem;
  overflow: hidden;
}
.frame-child1 {
  width: 2.375rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkseagreen);
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.ebayyou-anggoro-parent,
.frame-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent6 {
  width: 13.375rem;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.frame-child2,
.frame-child3 {
  width: 2.375rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-cadetblue);
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child3 {
  background-color: var(--color-rosybrown-100);
}
.frame-parent8 {
  width: 13.375rem;
  border-radius: var(--br-8xs);
  background-color: var(--brand-color-fourth-color);
  border: 1px solid var(--brand-color-third-color);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs);
  gap: var(--gap-3xs);
}
.frame-child4,
.frame-child5,
.frame-child6 {
  width: 2.375rem;
  position: relative;
  border-radius: var(--br-31xl);
  background-color: var(--color-rosybrown-200);
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child5,
.frame-child6 {
  background-color: var(--color-lightslategray-200);
}
.frame-child6 {
  background-color: var(--color-lightslategray-100);
}
.frame-parent5 {
  position: absolute;
  top: 3.375rem;
  left: 0.813rem;
  width: 13.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.iconsaxlinearprofile2user {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.list-of-users-parent {
  position: absolute;
  top: 0.938rem;
  left: 0.813rem;
  width: 13.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--color-gainsboro-100);
}
.see-more {
  position: absolute;
  top: 0.375rem;
  left: 4.313rem;
  font-weight: 600;
}
.button-see,
.frame-parent4 {
  position: absolute;
  overflow: hidden;
}
.button-see {
  top: 22rem;
  left: 0.813rem;
  border-radius: var(--br-8xs);
  width: 13.375rem;
  height: 2.188rem;
  font-size: var(--font-size-base);
  color: var(--light-100);
}
.frame-parent4 {
  top: 13.25rem;
  left: 1.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--brand-color-third-color);
  width: 14.938rem;
  height: 25.125rem;
}
.vector-icon1 {
  width: 1.125rem;
  position: relative;
  height: 1.069rem;
}
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.h-ago {
  position: relative;
  color: var(--neutral-brown);
}
.frame-parent13 {
  width: 13.313rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.rectangle-div {
  width: 13.25rem;
  position: relative;
  background-color: var(--color-gainsboro-200);
  height: 0.063rem;
}
.frame-parent12,
.trend,
.whats-happenning-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.trend,
.whats-happenning-parent {
  position: absolute;
  top: 3.75rem;
  left: 0.813rem;
  gap: var(--gap-3xs);
}
.whats-happenning-parent {
  top: 0.938rem;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-26xl);
  font-size: var(--font-size-sm);
  color: var(--color-gainsboro-100);
}
.trendings {
  position: absolute;
  top: 39.75rem;
  left: 1.875rem;
  border-radius: var(--br-3xs);
  background-color: var(--brand-color-third-color);
  width: 14.938rem;
  height: 16.875rem;
  overflow: hidden;
  font-size: var(--font-size-xs);
  color: var(--neutral-gray);
}
.login,
.login-wrapper {
  position: absolute;
  left: 3.063rem;
}
.login {
  top: 0.375rem;
  font-weight: 600;
}
.login-wrapper {
  top: 3.563rem;
  border-radius: var(--br-8xs);
  background-color: var(--color-gold);
  box-shadow: 5px 5px 0 rgba(46, 34, 34, 0.38);
  width: 8.875rem;
  height: 2.188rem;
}
.desktop-aside-inner {
  position: absolute;
  top: 2.625rem;
  left: 1.938rem;
  border-radius: var(--br-3xs);
  background-color: var(--brand-color-third-color);
  width: 14.938rem;
  height: 9.25rem;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--brand-color-second-color);
}
.desktop-aside1 {
  position: absolute;
  top: 5.625rem;
  left: 70.375rem;
  border-left: 2px solid var(--brand-color-fourth-color);
  box-sizing: border-box;
  width: 18.875rem;
  height: 58.375rem;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.logo-brand-child,
.logo-brand-inner,
.logo-brand-item {
  position: absolute;
  height: 63.34%;
  width: 63.44%;
  border-radius: 50%;
  transform: rotate(22.2deg);
  transform-origin: 0 0;
}
.logo-brand-child {
  top: 18.06%;
  right: -2.16%;
  bottom: 18.59%;
  left: 38.71%;
  background: linear-gradient(91.16deg, #697290, #cd7aff);
}
.logo-brand-inner,


.ellipse-div,
.logo-brand-child1 {
  position: absolute;
  border-radius: 50%;
  display: none;
}
.ellipse-div {
  height: 70.38%;
  width: 72.51%;
  top: 59.43%;
  right: -72.58%;
  bottom: -29.81%;
  left: 100.07%;
  background: linear-gradient(159.93deg, #292e3d, #595f73);
  transform: rotate(147.6deg);
  transform-origin: 0 0;
}
.logo-brand-child1 {
  height: 61.58%;
  width: 63.44%;
  top: 17.94%;
  right: 18%;
  bottom: 20.47%;
  left: 18.56%;
  background: linear-gradient(
    111.04deg,
    rgba(78, 131, 210, 0.8) 8.46%,
    #16161d
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    2px 2px 10px rgba(0, 0, 0, 0.25) inset;
}
.d,
.d-parent,
.g {
  position: absolute;
}
.d {
  top: -24.14%;
  left: -27.78%;
  display: none;
}
.d-parent,
.g {
  top: 0;
  left: 0;
}
.d-parent {
  height: 42.52%;
  width: 27.19%;
  top: 32.44%;
  right: 33.35%;
  bottom: 25.04%;
  left: 39.46%;
  display: none;
}
.logo-brand {
  width: 4.138rem;
  height: 4.263rem;
  display: none;
}
.digiforumio,
.logo-brand {
  position: relative;
}
.platform-discussion {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 300;
  font-family: var(--font-poppins);
  color: var(--neutral-white);
}
.brands,
.digiforumio-parent {
  display: flex;
  justify-content: flex-start;
}
.digiforumio-parent {
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.5rem;
  color: var(--color-gold);
  font-family: var(--font-irish-grover);
}
.brands {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-8xs);
}
.iconsaxlinearsearchstatus {
  width: 2rem;
  position: relative;
  height: 2rem;
}
.frame-parent24,
.iconsaxlinearsearchstatus-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent24 {
  position: absolute;
  top: 0.625rem;
  left: 0.875rem;
  justify-content: center;
  gap: var(--gap-mini);
}
.search {
  width: 18.75rem;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--brand-color-fourth-color);
  height: 3.25rem;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
  color: var(--light-100);
  font-family: var(--font-poppins);
}
.brands-parent {
  top: 0.688rem;
  left: 2.188rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.brands-parent,
.links1,
.navbar {
  position: absolute;
}
.links1 {
  top: 2.438rem;
  right: 2.063rem;
  width: 35.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar {
  top: 0;
  left: 40.563rem;
  border-radius: var(--br-3xs);
  background: linear-gradient(152.9deg, #f1b56e, #feecb0);
  width: 39.5rem;
  height: 6.375rem;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.group-icon {
  width: 2.938rem;
  position: relative;
  height: 2.875rem;
}
.frame-parent25 {
  position: absolute;
  top: 1.75rem;
  left: 82.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.desktop-navbar-component,
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 90rem;
}
.desktop-navbar-component {
  background-color: var(--brand-color-third-color);
  height: 5.625rem;
  font-size: var(--font-size-5xl);
  color: var(--color-whitesmoke);
  font-family: var(--font-inter);
}
.wrapper {
  height: 64rem;
  overflow: hidden;
}
.illustration-child {
  position: absolute;
  top: 16.688rem;
  left: 0;
  width: 19rem;
  height: 17.938rem;
}
.card-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--light-200);
  box-shadow: 10px 10px 0 rgba(32, 36, 51, 0.14);
}
.iconsaxlinearmedalstar {
  width: 2.375rem;
  position: relative;
  height: 2.375rem;
  overflow: hidden;
  flex-shrink: 0;
}
.this-platform-is {
  width: 13.188rem;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
}
.body,
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.content {
  position: absolute;
  top: 2.25rem;
  left: 2.313rem;
  gap: var(--gap-2xl);
}
.card,
.card-item {
  position: absolute;
  height: 53.01%;
  width: 70.17%;
  top: 19.76%;
  right: 29.83%;
  bottom: 27.23%;
  left: 0;
}
.card-item {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-3xs);
  background-color: var(--light-100);
}
.instagram-account,
.post-a-story {
  position: absolute;
  top: 43.18%;
  left: 12.89%;
  font-weight: 600;
}
.post-a-story {
  width: 73.52%;
  top: 55.91%;
  left: 13.24%;
  font-size: var(--font-size-xs);
  line-height: 1.375rem;
  font-weight: 500;
  display: inline-block;
}
.instagram-icon-1 {
  position: absolute;
  height: 17.27%;
  width: 13.24%;
  top: 14.09%;
  right: 73.87%;
  bottom: 68.64%;
  left: 12.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.card-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--light-100);
  box-shadow: 10px 10px 0 rgba(32, 36, 51, 0.14);
}
.iconsaxlinearlike {
  width: 2rem;
  position: relative;
  height: 2rem;
  overflow: hidden;
  flex-shrink: 0;
}
.card1 {
  position: absolute;
  height: 53.01%;
  width: 70.17%;
  top: 0;
  right: 9.05%;
  bottom: 46.99%;
  left: 20.78%;
}
.card-child1,
.card-parent,
.card3 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-child1 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--light-300);
  box-shadow: 10px 10px 0 rgba(32, 36, 51, 0.14);
}
.card-parent,
.card3 {
  height: 53.01%;
  width: 70.17%;
  top: 46.99%;
  left: 29.83%;
}
.card-parent {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.card-group {
  position: absolute;
  top: 3.313rem;
  left: 1.25rem;
  width: 25.563rem;
  height: 25.938rem;
}
.illustration {
  width: 26.813rem;
  position: relative;
  height: 34.625rem;
  overflow: hidden;
  flex-shrink: 0;
}
.plantwise {
  width: 20.188rem;
  position: relative;
  display: inline-block;
}
.seja-bem-vindo {
  margin: 0;
}
.seja-bem-vindo-container {
  width: 20.188rem;
  position: relative;
  font-size: 1.25rem;
  font-family: var(--font-poppins);
  color: var(--neutral-white);
  text-align: right;
  display: inline-block;
}
.tagline {
  width: 25.375rem;
  height: 16.688rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mini);
  font-size: 4rem;
  color: var(--color-gold);
  font-family: var(--font-irish-grover);
}
.illustration-parent {
  position: absolute;
  top: calc(50% - 437px);
  left: 0;
  width: 50.813rem;
  height: 43.188rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2.187rem;
}
.go-to-threads {
  position: relative;
  font-weight: 600;
  white-space: pre-wrap;
}
.button-full {
  position: absolute;
  top: 43.375rem;
  left: 17.625rem;
  border-radius: var(--br-7xs);
  background-color: #f1dc6e;
  width: 50.75rem;
  height: 20.188rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl);
  box-sizing: border-box;
}
.main {
  position: absolute;
  top: 5.625rem;
  left: 20.25rem;
  width: 57rem;
  height: 58.375rem;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--brand-color-main-color);
  font-family: var(--font-inter);
}
.desktop-home-1440 {
  width: 100%;
  position: relative;
  background-color: var(--brand-color-main-color);
  height: 64rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--neutral-white);
  font-family: var(--font-poppins);
}
