* {
    box-sizing: border-box;
    margin-top:0;
}

body {
    margin-top:0;
    background-color: transparent;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

.background {
    background-image: url("video/plantvideo.mp4");
    position: relative; 
    height: 100vh;
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
}

.container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* margin-top: 100px; */
}

.login-box {
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 400px;
    height: 500px;
}

.login-box h1 {
    font-family: 'Higuen Elegant Serif', serif;
    color: #FCDC2A;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 40px;
}

.login-box p1 {
    color: #FCDC2A;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 50px;
}

.login-box p2 a {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #ffffff;
    text-decoration: none;
}

.login-box p {
    font-family:  'Higuen Elegant Serif', serif;
    color: #FCDC2A;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top:-20px;
}

.login-box label {
    font-family: 'DM Sans', sans-serif ;
    color: #ffffff;
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.login-box input[type="email"],
.login-box input[type="password"] {
    border: 1px solid #ccc;
    border-radius: 80px;
    display: block;
    font-size: 14px;
    padding: 13px;
    width: 100%;
    margin-bottom: 10px;
}

.login-box input[type="email"]:focus,
.login-box input[type="password"]:focus {
    border-color: rgb(134, 134, 134)b4b;
    outline: none;
}

.login-box button[type="submit"] {
    font-family: 'Beautifully Delicious Sans';
    background-color: #000000;
    border: rgb(255, 255, 255);
    border-radius: 80px;
    color: #ffffff;
    cursor: pointer;
    font-size: 17px;
    padding: 12px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 0 0 0.5px white;
}

.login-box button[type="submit"]:hover {
    background-color: #1c1c1c;
}

.login-box p a {
    color: #444;
    font-size: 14px;
    text-decoration: none;
}

.login-box p a:hover {
    text-decoration: underline;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  /* .btn:hover {background: #eee;} */
  
  .success {color: green;}
  .info {color: dodgerblue;}
  .warning {color: #FCDC2A;}
  .danger {color: red;}
  .default {color: black;}